name: Deploy
on:
  push:
    branches: [ main ]
jobs:
  aws_creation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
      - name: Delete stack (se existir) e aguardar
        run: |
          set -e

          echo "Verificando se a stack existe..."
          if aws cloudformation describe-stacks --stack-name devops-nest-docker >/dev/null 2>&1; then
            echo "Stack não existe. Seguindo em frente..."
          else
            aws cloudformation create-stack \
            --stack-name devops-nest-docker \
            --template-body file://infra/template.yaml \
            --capabilities CAPABILITY_NAMED_IAM \

            echo "Aguardando criação da stack..."
            aws cloudformation wait stack-create-complete --stack-name devops-nest-docker
            echo "Stack criada com sucesso."
          fi

      - name: Criar alarme CloudWatch (exemplo)
        run: |
          aws cloudwatch put-metric-alarm \
            --alarm-name HighCPUUtilization \
            --metric-name CPUUtilization \
            --namespace AWS/EC2 \
            --statistic Average \
            --period 300 \
            --threshold 80 \
            --comparison-operator GreaterThanThreshold \
            --dimensions Name=InstanceId,Value=i-0abcdef1234567890 \
            --evaluation-periods 2 \
            --alarm-actions arn:aws:sns:us-east-2:123456789012:NotifyMe \
            --unit Percent
          docker run -t owasp/zap2docker-stable zap-baseline.py \
            -t https://projeto-devops-na-pratica.onrender.com \-g gen.conf -r report.html