name: Deploy
on:
  push:
    branches: [ main ]
jobs:
  aws_creation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
      - name: Delete stack (se existir) e aguardar
        run: |
          set -e

          echo "Verificando se a stack existe..."
          if aws cloudformation describe-stacks --stack-name devops-nest-docker >/dev/null 2>&1; then
            echo "Stack não existe. Seguindo em frente..."
          else
            aws cloudformation create-stack \
            --stack-name devops-nest-docker \
            --template-body file://infra/template.yaml \
            --capabilities CAPABILITY_NAMED_IAM \

            echo "Aguardando criação da stack..."
            aws cloudformation wait stack-create-complete --stack-name devops-nest-docker
            echo "Stack criada com sucesso."
          fi

      - name: Criar alarme CloudWatch (exemplo)
        run: |
          aws cloudwatch put-metric-alarm \
            --alarm-name HighCPUUtilization \
            --metric-name CPUUtilization \
            --namespace AWS/EC2 \
            --statistic Average \
            --period 300 \
            --threshold 80 \
            --comparison-operator GreaterThanThreshold \
            --dimensions Name=InstanceId,Value=i-0abcdef1234567890 \
            --evaluation-periods 2 \
            --alarm-actions arn:aws:sns:us-east-2:123456789012:NotifyMe \
            --unit Percent
  infra-bootstrap:
    name: Bootstrap infra (Docker + SonarQube + ZAP)
    runs-on: ubuntu-latest
    steps:
      - name: Update e instalar Docker
        run: |
          sudo yum update -y
          sudo yum install -y docker
          sudo systemctl start docker
          sudo systemctl enable docker

      - name: Instalar Docker Compose
        run: |
          sudo yum install -y libxcrypt-compat
          sudo curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose
          sudo docker --version
          sudo docker-compose --version
 
      - name: Subir SonarQube via Docker Compose
        run: |
          mkdir -p ~/sonarqube
          cd ~/sonarqube
          cat > docker-compose.yml << 'EOF'
          version: '3'
          services:
            sonarqube:
              image: sonarqube:lts
              container_name: sonarqube
              ports:
                - "9000:9000"
              environment:
                - SONARQUBE_JDBC_URL=jdbc:postgresql://db:5432/sonar
                - SONARQUBE_JDBC_USERNAME=sonar
                - SONARQUBE_JDBC_PASSWORD=sonar
            db:
              image: postgres:12
              container_name: sonarqube_db
              environment:
                - POSTGRES_USER=sonar
                - POSTGRES_PASSWORD=sonar
                - POSTGRES_DB=sonar
              ports:
                - "5432:5432"
          EOF
          sudo docker-compose up -d

      - name: Subir OWASP ZAP via Docker Compose
        run: |
          mkdir -p ~/owaspzap
          cd ~/owaspzap
          cat > docker-compose.yml << 'EOF'
          version: "3"
          services:
            zap:
              image: zaproxy/zap-stable
              container_name: owasp_zap
              ports:
                - "8080:8080"
              entrypoint:
                ["zap.sh", "-daemon", "-host", "0.0.0.0", "-port", "8080"]
          EOF
          sudo docker-compose up -d

  # sonar_scan:
  #   name: SonarQube Analysis
  #   needs: aws_creation
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout Repository
  #       uses: actions/checkout@v4

  #     - name: Install SonarQube Scanner
  #       run: |
  #         curl -Lo sonar-scanner.zip https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.7.0.2747-linux.zip
  #         unzip sonar-scanner.zip
  #         mv sonar-scanner-4.7.0.2747-linux sonar-scanner
  #         echo "$(pwd)/sonar-scanner/bin" >> $GITHUB_PATH
  #     - name: Run SonarQube Analysis
  #       run: |
  #           sonar-scanner \
  #             -Dsonar.projectKey=projeto_devops_na_pratica \
  #             -Dsonar.sources=. \
  #             -Dsonar.host.url=http://18.219.232.37:9000 \
  #             -Dsonar.token=sqp_d91f38d52deead1fb2f70d443d61ab6492bdec95