# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm test
    - run: npm run build --if-present
    
    # Fazer deploy
    - name: Deploy to server via SSH
      uses: appleboy/ssh-action@v1.2.0  # Action para SSH
      with:
        host: ${{ secrets.HOST }}  # Defina isso no repositório em Secrets
        username: ${{ secrets.USER_NAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}  # Defina a chave SSH no Secrets
        port: 22
        script: |
          sudo set enforce 0
          cd ./aula || git clone https://github.com/luivargas/projeto_devops_na_pratica
          cd nodepipeline-devops
          git pull origin main  # Ou outro comando para atualizar o código
          sudo npm install
          sudo pm2 delete server 2>/dev/null
          sudo pm2 start server.js  # Exemplo para reiniciar a aplicação Node.js com PM2

